nnUNet_raw=C:/medical-data/nnUNet_raw
nnUNet_preprocessed=C:/medical-data/nnUNet_preprocessed
nnUNet_results=C:/medical-data/nnUNet_results

BHSD_DATA_ROOT=C:/medical-data/BHSD
EXPERIMENT_NAME=bhsd-nnunnet-exp01
