MOSEC_ADDRESS=0.0.0.0
MOSEC_PORT=8080

MODEL_VERSION=bhsd-nnunet-v1.0.0
MODEL_DIR=/models/bhsd-nnunet-v1.0.0

NNUNET_CONFIGURATION=2d
NNUNET_FOLDS=0
NNUNET_CHECKPOINT=checkpoint_best.pth

PREDICTION_THRESHOLD=0.25
MIN_COMPONENT_SIZE=30
